WEATHER_API_KEY : "your_api_key"                  # A retrouver sur  [weatherapi](https://www.weatherapi.com)    
STOCK_API_KEY : "demo"                                               # A faire
KAFKA_BROKER : "kafka:29092"                                         # Adresse du serveur Kafka
KAFKA_TOPIC : "weather_data"                                         # Nom du topic Kafka
KAFKA_TOPIC_FINANCE : "stock_data"                                   # Nom du topic Kafka
KAFKA_GROUP_ID : "weather_consumer_group"                            # Nom de l'identifiant de groupe Kafka
